@model IEnumerable<GCD0704.AppDev.ViewModels.UserWithRoleViewModel>
@{
	ViewBag.Title = "Profiles";
}

<h2>Profiles</h2>

<table class="table">
	<thead>
		<tr>
			<th scope="col">User Name</th>
			<th scope="col">User Roles</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.UserName</td>
				<td>@user.RoleName</td>

			</tr>
		}
	</tbody>
</table>

